<main id="content" class="site-main">
  <!-- Inner Banner html start-->
  <section class="inner-banner-wrap">
    <div class="inner-baner-container py-20" style="background-image: url(../../assets/images/inner-banner.jpg);">
      <!--      <div class="container">-->
      <!--        <div class="inner-banner-content">-->
      <!--          <h1 class="inner-title text-8xl font-bold">Thanh toán</h1>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
    <div class="inner-shape"></div>
  </section>
  <!-- Inner Banner html end-->
  <!-- contact form html start -->
  <h1 class="text-xl-center text-[28px] font-semibold">Chính sách thanh toán</h1><br>
  <div class="col-lg-6 justify-center m-auto pb-12">
    <div>
      <aside class="sidebar">
        <div class="widget-bg widget-table-summary">
          <h4 class="bg-title mb-0 text-left pb-1">Đối với khách hàng thanh toán trực tiếp, khách hàng cần xác nhận thông tin đã đặt và thanh toán phí dịch vụ khi chuyến đi bắt đầu</h4>
          <h4 class="bg-title mb-0 text-left pb-1">Đối với khách hàng thanh toán online, có các loại hình thức thanh toán sau:</h4>
          <h4 class="bg-title mb-0 text-left pb-1"> -  Chuyển khoản qua app thanh toán : MOMO, Viettel Money, ZaloPay</h4>
          <h4 class="bg-title mb-0 text-left pb-1"> -  Chuyển khoản trực tiếp tới tài khoản: MBBank - 18810310036</h4>
          <h4 class="bg-title mb-0 text-left pb-1">Mọi thắc mắc xin hãy liên hệ với chúng tôi sớm nhất để được giải đáp kịp thời</h4>
          <h4 class="bg-title mb-0 text-left pb-1">Xin chân thành cảm ơn</h4>
        </div>
        <button
          type="submit" routerLink="/home"
          class="inline-block px-7 py-3 bg-red-400 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 ansition duration-150 ease-in-out w-full"

        >
          Quay lại
        </button>
      </aside>
    </div><br><br>
  </div>
  <!-- contact form html end -->
</main>
