<main id="content" class="site-main">
  <!-- Inner Banner html start-->
  <section class="inner-banner-wrap">
    <div class="inner-baner-container py-20" style="background-image: url(../../assets/images/inner-banner.jpg);">
<!--      <div class="container">-->
<!--        <div class="inner-banner-content">-->
<!--          <h1 class="inner-title text-8xl font-bold">Thanh toán</h1>-->
<!--        </div>-->
<!--      </div>-->
    </div>
    <div class="inner-shape"></div>
  </section>
  <!-- Inner Banner html end-->
  <!-- contact form html start -->
  <h1 class="text-xl-center text-[28px] font-semibold">Đặt chuyến đi thành công</h1><br>
  <div class="col-lg-6 justify-center m-auto pb-16">
      <div>
        <aside class="sidebar">
          <div class="widget-bg widget-table-summary">
            <h4 class="bg-title mb-0">Cảm ơn quý khách đã tin tưởng và sử dụng dịch vụ Travele của chúng tôi</h4>
            <h4 class="bg-title mb-0">Hệ thống đang lên lịch cho chuyến đi của bạn. Đội ngũ CSKH của chúng tôi sẽ liên lạc với bạn để xác nhận thông tin.</h4>
            <h4 class="bg-title mb-0">Xin vui lòng tham khảo chính sách thanh toán của chúng tôi bằng cách click vào nút dưới đây.</h4>
          </div>
          <button
            type="submit" routerLink="/policy"
            class="inline-block px-7 py-3 bg-red-400 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 ansition duration-150 ease-in-out w-full"

          >
            Chính sách thanh toán
          </button>
        </aside>
      </div><br><br>
  </div>
  <!-- contact form html end -->
</main>
